
* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  border-top: 10px solid #edcdcd;
}

a {
  
}

.container {
  max-width: 55em;
  margin: 0 auto;
}

.main-content {
  padding: 1em;
}

.main-navigation {
  font-size: 1.1em;
  text-align: right;
  color: #4a4a4a;
}

.menu {
  list-style: none;
}

.menu {
  li {
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
  }
}

.menu {
  a {
    margin: .25em;
    padding: 0 .25em;
    text-decoration: none;
    color: inherit;

    border-bottom: 6px solid transparent;

    transition: border-bottom-color 0.25s ease;
  }
}

.menu a:hover,
.menu a:active {
  border-bottom-color: #eee;
}

.menu a.active {
  border-bottom-color: #d8d8d8;
}

.jkbyln-logo {
  width: 100%;
  /*margin-top: 5em;*/
  text-align: center;
}
